Section A

1)

In [ ]:
print("Hello Python")

Hello Python

2)

In [ ]:
num1= 5
num2= 5
add= num1+num2
div= num1/num2
print("Addition", add)
print("Divsion", div)

Addition 10
Divsion 1.0

3)

In [ ]:
base= int(input("Enter your value here: "))
height= int(input("Enter your value here: "))
t_area= ((1/2)*base*height)
print("Area of triangle is", t_area)

Enter your value here: 60
Enter your value here: 30
Area of triangle is 900.0

5)

In [ ]:
import random
n=random.random()
print("Number= ",n)

Number=  0.8358393091783463

In [ ]:
a=int(input("Enter the value in km: "))
b=a*0.62
print("The value in miles is", b)

Enter the value in km: 79
The value in miles is 48.98

In [ ]:
a=int(input("Enter the value in celcius: "))
b=(a*(9/5)+32)
print("The value in Fahrenheit is", b)

Enter the value in celcius: 27
The value in Fahrenheit is 80.6

In [ ]:
import calendar
year= 2022
month= 8
print(calendar.month(year, month))

    August 2022
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [ ]:
import cmath
while True:
  print("Enter 'x' for exit.")
  num1=input("Enter the value of a: ")
  num2=input("Enter the value of b: ")
  num3=input("Enter the value of c: ")
  if num1 == 'x':
    break
  else:
    number1=float(num1)
    number2=float(num2)
    number3=float(num3)
    d=(number2**2)-(4*number1*number3)
    r1=(-number2-cmath.sqrt(d))/(2*number1)
    r2=(-number2+cmath.sqrt(d))/(2*number1)
    print("The solutions = {0} and {1}". format(r1, r2))

Enter 'x' for exit.
Enter the value of a: 13
Enter the value of b: 24
Enter the value of c: 7
The solutions = (-1.4830853760985012+0j) and (-0.36306847005534476+0j)
Enter 'x' for exit.
Enter the value of a: x
Enter the value of b: x
Enter the value of c: x

In [ ]:
a=int(input("Enter the value of a variable: "))
b=int(input("Enter the value of b variable: "))
print("Before swapping two variables: ")
print("a= ",a , "b= ",b)
a,b=b,a
print("After swapping two variables: ")
print("a= ",a , "b= ",b)

Enter the value of a variable: 22
Enter the value of b variable: 43
Before swapping two variables:
a=  22 b=  43
After swapping two variables:
a=  43 b=  22

In [ ]:
a=int(input("Enter the value of an integer here: "))
if a < 0:
  print("The number is negative")
elif a == 0:
  print("The number is 0")
elif a > 0:
  print("The number is positive")
else:
  print("The input isn't an integer")

Enter the value of an integer here: 12
The number is positive

In [ ]:
a=int(input("Enter the number here: "))
if a % 2==0:
  print("The number entered is an even number")
elif a % 2!=0:
  print("The number entered is an odd number")
else:
  print("The input isn't an integer")

Enter the number here: 13
The number entered is an odd number

In [ ]:
a=int(input("Enter the year: "))
if a % 4==0:
  print("The year is a Leap Year")
elif a % 4 !=0:
  print("The year isn't a Leap Year")
else:
  print("Enter appropriate value")

Enter the year: 2022
The year isn't a Leap Year

In [ ]:
a=int(input("Enter the number here: "))
if a > 1:
  for i in range(2, a):
    if (a % i)==0:
      print(a, "Number is not a prime number")
      break
  else:
    print("The number is a prime number")

Enter the number here: 14
14 Number is not a prime number

In [ ]:
primes = []
for possiblePrime in range(1, 10000):
  isPrime= True
  for num in range (1, possiblePrime):
    if possiblePrime % num == 0:
      isPrime = False
  if isPrime:
    primes.append(possiblePrime)

In [ ]:
a=int(input("Enter a number here: "))
fact=1
for i in range(1,a+1):
  fact = fact*i
print("The factorial of",a,"is", fact)

Enter a number here: 39
The factorial of 39 is 20397882081197443358640281739902897356800000000

In [ ]:
a=int(input("Please enter any positive integer less than 10: "))
print("Multiplication Table")
for i in range(a,11):
  for j in range(1,11):
    print("{0} * {1} = {2}".format(i , j , i*j))
  print("===========")

Please enter any positive integer less than 10: 10
Multiplication Table
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
===========

In [ ]:
def fibFind(num):
  if(num == 0):
    return 0
  elif(num == 1):
    return 1
  else:
    return (fibFind(num-2)+ fibFind(num-1))
num=int(input("\n please Enter the Range Number: "))
for Num in range(0,num):
  print(fibFind(Num))

 please Enter the Range Number: 5
0
1
1
2
3

In [ ]:
num = int(input("Enter a num: "))
sum = 0
temp = num
while temp > 0:
  digit = temp % 10
  sum += digit**3
  temp //=10
if num == sum:
  print(num, "is an Armstrong Number")
else:
  print(num, "is not an Armstrong Number")

Enter a num: 12
12 is not an Armstrong Number

In [ ]:
num = int(input("Enter the number here: "))
hold = num
sum = 0
if num<=0:
  print("Enter a whole number")
else:
  while num > 0:
    sum = sum + num
    num = num-1
  print("Sum of first", hold, "natural numbers is: ",sum)

Enter the number here: 16
Sum of first 16 natural numbers is:  136

In [ ]:
age = [29, 12, 19]
theSum = 0
def sumArray():
  addition = 0
  for i in age:
    addition = addition + i
  print(addition)
sumArray()

60

In [ ]:
def largestFun(arr,n):
  maxNum=arr[0]
  for i in range(1, n):
    if arr[i] > maxNum:
      maxNum = arr[i]
  return maxNum
arr = [12, 888, 799, 65, 911]
n = len(arr)
largestElement = largestFun(arr,n)
print("Largest element in the given array is ", largestElement)

Largest element in the given array is  911

In [ ]:
def rotate(self, nums, k):
  length = len(nums)
  k = k % length
  reverse(nums, 0, length-1)
  reverse(nums, 0, k-1)
  reverse(nums, k, length-1)
  print(nums)
def reverse(self, list, left, right):
  while left < right:
    list[left], list[right] = list[right], list[left]
    left += 1
    right -= 1
  return list

In [ ]:
def splitArr(arr,n,k):
  for i in range(0,k):
    x=arr[0]
    for j in range(0,n-1):
      arr[j]=arr[j+1]
    arr[n-1]=x
arr=[23,24,25,26,27]
n=len(arr)
position=2